<%- include('../partials/head'); %>
<%- include('../partials/header_connected'); %>

<section class="commande" id="commande"> 
    <div class="container">
        <div class="skill">
            <div class="head">
                <h3>VPS</h3>
            </div>
            <div class="items">
                Personnaliser votre commande : 
                <form action="" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Commander">
                </form>
            </div>
        </div>
    </div>
</section>


<%- include('../partials/footer'); %>