<%- include('partials/head'); %>
<%- include('partials/header'); %>

<h2>Notre service info</h2>

<h4>Louise-Anne Dayao</h4>
<p>La seule fille de la classe, c'est top.</p>

<h4>Raphael Bourreau</h4>
<p>Il aime les tutures, mais il aime pas le garage de la concession bmw venissieux.</p>

<h4>Dimitri Lepoutre</h4>
<p>On sait pas pourquoi, mais il dors dans nos datacenters.</p>

<%- include('partials/footer'); %>