<%- include('partials/head'); %>
<%- include('partials/header'); %>

<h2>Presentation</h2>

<p>Ceci est une entreprise très sérieuse qui plagie OVH !!</p>

<h2>Nos services</h2>

<h3>Site web</h3>

<p>Nous fournissons des sites web customisable, hébergé via notre puissant cluster kubernetes.</p>

<h3>Nom de domaine</h3>

<p>Nous fournissons un nom de domaine pour vos services web.</p>

<h3>Adresse mail</h3>

<p>Avec votre nom de domaine, vous pouvez réclamer une ou plein d'adresse mail.</p>

<h4>VPS</h4>

<p>grace a nos infrastructures, vous pouvez demandé de puissants serveurs pour faire tourner tout vos projets.</p>

<%- include('partials/footer'); %>