<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Team Grosse Tete</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/auth/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/achat">Achat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
        </ul>
      </nav>
</header>
<main>
  <div class="jumbotron">
